<a href="https://colab.research.google.com/github/kajose0/Data-Science/blob/main/pandas_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
a = np.zeros((6,6))
print(a)

[[0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]]

In [2]:
import numpy as np
a = np.random.randint(2,10, (3,4))
b = np.random.randint(2,10, (4,3))
print(a)
print(b)

[[9 8 4 3]
 [8 9 3 2]
 [5 5 5 4]]
[[7 8 7]
 [9 5 3]
 [4 8 9]
 [9 6 5]]

In [3]:
a.dot(b)

array([[178, 162, 138],
       [167, 145, 120],
       [136, 129, 115]])

In [4]:
b.dot(a)

array([[162, 163,  87,  65],
       [136, 132,  66,  49],
       [145, 149,  85,  64],
       [154, 151,  79,  59]])

In [6]:
import pandas as pd
data=pd.read_csv('/content/data.csv')
data.head()

,OBJECTID,UNIT_NAME,DESCRIPTION,ACRES,SHAPE.AREA,SHAPE.LEN
0,21,Fort Stevenson State Park,State Park,586.48,0.000284,0.135641
1,22,Beaver Lake State Park,State Park,273.16,0.000129,0.080067
2,23,Fort Abraham Lincoln State Park,State Park,836.47,0.000399,0.119868
3,24,Fort Ransom State Park,State Park,933.78,0.000444,0.128733
4,25,Grahams Island State Park,State Park,959.33,0.000469,0.125546

In [7]:
features = data.describe()
features

        OBJECTID        ACRES  SHAPE.AREA  SHAPE.LEN
count  25.000000    25.000000   25.000000  25.000000
mean   33.000000   724.134400    0.000352   0.109863
std     7.359801  1275.490247    0.000617   0.089073
min    21.000000    11.400000    0.000005   0.009396
25%    27.000000    72.300000    0.000034   0.033885
50%    33.000000   524.810000    0.000256   0.087192
75%    39.000000   836.470000    0.000399   0.145220
max    45.000000  6492.930000    0.003136   0.338800

In [8]:
data.apply(lambda feature: feature.count())

OBJECTID       25
UNIT_NAME      25
DESCRIPTION    25
ACRES          25
SHAPE.AREA     25
SHAPE.LEN      25
dtype: int64

In [9]:
data.DESCRIPTION.unique()

array(['State Park', 'Interpretive Center', 'State Recreation Area',
       'State Natural Area', 'State Nature Preserve'], dtype=object)

In [10]:
df = data.groupby(['DESCRIPTION']).agg([len,min])
df

                      OBJECTID     UNIT_NAME  \
                           len min       len
DESCRIPTION
Interpretive Center          1  29         1
State Natural Area           2  37         2
State Nature Preserve        2  39         2
State Park                  13  21        13
State Recreation Area        7  30         7

                                                            ACRES          \
                                                        min   len     min
DESCRIPTION
Interpretive Center     Lewis and Clark Interpretive Center     1   14.71
State Natural Area               Elkhorn State Natural Area     2  174.39
State Nature Preserve       Gunlogson State Nature Preserve     2   72.30
State Park                           Beaver Lake State Park    13   63.03
State Recreation Area  Butte St. Paul State Recreation Area     7   11.40

                      SHAPE.AREA           SHAPE.LEN
                             len       min       len       min
DESCRIPTION
Interpretive Center            1  0.000007         1  0.016774
State Natural Area             2  0.000083         2  0.067082
State Nature Preserve          2  0.000034         2  0.033885
State Park                    13  0.000030        13  0.024016
State Recreation Area          7  0.000005         7  0.009396

In [14]:
df = int(np.random.randint(0,len(data) -10))
df

7

In [15]:
data.iloc[df:df+10, :]

,OBJECTID,UNIT_NAME,DESCRIPTION,ACRES,SHAPE.AREA,SHAPE.LEN
7,28,Lewis and Clark State Park,State Park,524.81,0.000256,0.130420
8,29,Lewis and Clark Interpretive Center,Interpretive Center,14.71,0.000007,0.016774
9,30,Fort Mandan State Recreation Area,State Recreation Area,11.40,0.000005,0.009396
10,31,Little Missouri State Park,State Park,6492.93,0.003136,0.313756
11,32,Sully Creek State Park,State Park,63.03,0.000030,0.024016
12,35,Butte St. Paul State Recreation Area,State Recreation Area,51.23,0.000025,0.022095
13,36,Crow Flies High State Recreation Area,State Recreation Area,247.11,0.000120,0.050518
14,33,Turtle River State Park,State Park,775.28,0.000378,0.145220
15,34,Lake Sakakawea State Park,State Park,739.52,0.000357,0.191806
16,37,Elkhorn State Natural Area,State Natural Area,264.84,0.000127,0.067082

In [19]:
New_feature = np.random.rand(25,1)
data['New_feature'] = New_feature
data

,OBJECTID,UNIT_NAME,DESCRIPTION,ACRES,SHAPE.AREA,SHAPE.LEN,New_feature
0,21,Fort Stevenson State Park,State Park,586.48,0.000284,0.135641,0.537505
1,22,Beaver Lake State Park,State Park,273.16,0.000129,0.080067,0.567082
2,23,Fort Abraham Lincoln State Park,State Park,836.47,0.000399,0.119868,0.733368
3,24,Fort Ransom State Park,State Park,933.78,0.000444,0.128733,0.284093
4,25,Grahams Island State Park,State Park,959.33,0.000469,0.125546,0.046691
5,26,Icelandic State Park,State Park,930.30,0.000461,0.166712,0.126130
6,27,Lake Metigoshe State Park,State Park,1508.53,0.000751,0.212196,0.525601
7,28,Lewis and Clark State Park,State Park,524.81,0.000256,0.130420,0.149087
8,29,Lewis and Clark Interpretive Center,Interpretive Center,14.71,0.000007,0.016774,0.653576
9,30,Fort Mandan State Recreation Area,State Recreation Area,11.40,0.000005,0.009396,0.249520
10,31,Little Missouri State Park,State Park,6492.93,0.003136,0.313756,0.768297
11,32,Sully Creek State Park,State Park,63.03,0.000030,0.024016,0.918559
12,35,Butte St. Paul State Recreation Area,State Recreation Area,51.23,0.000025,0.022095,0.182465
13,36,Crow Flies High State Recreation Area,State Recreation Area,247.11,0.000120,0.050518,0.019355
14,33,Turtle River State Park,State Park,775.28,0.000378,0.145220,0.004089
15,34,Lake Sakakawea State Park,State Park,739.52,0.000357,0.191806,0.558705
16,37,Elkhorn State Natural Area,State Natural Area,264.84,0.000127,0.067082,0.110038
17,38,Fahlgren Park State Recreation Area,State Recreation Area,21.56,0.000010,0.013294,0.480193
18,39,Gunlogson State Nature Preserve,State Nature Preserve,95.89,0.000048,0.040465,0.193154
19,40,Head of the Mountain State Nature Preserve,State Nature Preserve,72.30,0.000034,0.033885,0.610028
20,41,Missouri River State Natural Area,State Natural Area,174.39,0.000083,0.087192,0.449598
21,43,Pembina Gorge State Recreation Area,State Recreation Area,1236.98,0.000615,0.338800,0.919338
22,44,Turtle Mountain State Recreation Area,State Recreation Area,695.04,0.000345,0.086487,0.470496
23,45,Cross Ranch State Park,State Park,569.07,0.000274,0.180257,0.386015
24,42,Pelican Point State Recreation Area,State Recreation Area,25.22,0.000013,0.026357,0.348118

In [20]:
np.mean(data.OBJECTID)

33.0

In [21]:
data['OBJECTID']=data['OBJECTID'].replace(33,35)
data

,OBJECTID,UNIT_NAME,DESCRIPTION,ACRES,SHAPE.AREA,SHAPE.LEN,New_feature
0,21,Fort Stevenson State Park,State Park,586.48,0.000284,0.135641,0.537505
1,22,Beaver Lake State Park,State Park,273.16,0.000129,0.080067,0.567082
2,23,Fort Abraham Lincoln State Park,State Park,836.47,0.000399,0.119868,0.733368
3,24,Fort Ransom State Park,State Park,933.78,0.000444,0.128733,0.284093
4,25,Grahams Island State Park,State Park,959.33,0.000469,0.125546,0.046691
5,26,Icelandic State Park,State Park,930.30,0.000461,0.166712,0.126130
6,27,Lake Metigoshe State Park,State Park,1508.53,0.000751,0.212196,0.525601
7,28,Lewis and Clark State Park,State Park,524.81,0.000256,0.130420,0.149087
8,29,Lewis and Clark Interpretive Center,Interpretive Center,14.71,0.000007,0.016774,0.653576
9,30,Fort Mandan State Recreation Area,State Recreation Area,11.40,0.000005,0.009396,0.249520
10,31,Little Missouri State Park,State Park,6492.93,0.003136,0.313756,0.768297
11,32,Sully Creek State Park,State Park,63.03,0.000030,0.024016,0.918559
12,35,Butte St. Paul State Recreation Area,State Recreation Area,51.23,0.000025,0.022095,0.182465
13,36,Crow Flies High State Recreation Area,State Recreation Area,247.11,0.000120,0.050518,0.019355
14,35,Turtle River State Park,State Park,775.28,0.000378,0.145220,0.004089
15,34,Lake Sakakawea State Park,State Park,739.52,0.000357,0.191806,0.558705
16,37,Elkhorn State Natural Area,State Natural Area,264.84,0.000127,0.067082,0.110038
17,38,Fahlgren Park State Recreation Area,State Recreation Area,21.56,0.000010,0.013294,0.480193
18,39,Gunlogson State Nature Preserve,State Nature Preserve,95.89,0.000048,0.040465,0.193154
19,40,Head of the Mountain State Nature Preserve,State Nature Preserve,72.30,0.000034,0.033885,0.610028
20,41,Missouri River State Natural Area,State Natural Area,174.39,0.000083,0.087192,0.449598
21,43,Pembina Gorge State Recreation Area,State Recreation Area,1236.98,0.000615,0.338800,0.919338
22,44,Turtle Mountain State Recreation Area,State Recreation Area,695.04,0.000345,0.086487,0.470496
23,45,Cross Ranch State Park,State Park,569.07,0.000274,0.180257,0.386015
24,42,Pelican Point State Recreation Area,State Recreation Area,25.22,0.000013,0.026357,0.348118